body {
  background:  #cef1ff; 
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
}

.box {
  width: auto;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  font-size: 38px;
  color: #000;
  transition: all 1.4s ease-in;
}

.icon-circle {
  color: #fff;
  animation: shine .5s linear;
}

.icon-cross {
  color: #313131;
  animation: shine .5s linear;
}

@keyframes shine {
  0% {
    scale: 0;
  } 
  50% {
    scale: 1.5
  }
  100% {
    scale: 1;
  }
}